@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #F6F6F6;
}

.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.work-section-cards-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.testimonial-section-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.testimonial-section-img-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}